/*-----------------------*/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
.header_user_info .header_info {
  position: absolute;
  left: 15px;
  line-height: 40px;
}
.rtl .header_user_info .header_info {
  right: 15px;
  left: auto;
}
.header_user_info .popup-title {
  display: none;
}
.header_user_info ul.links {
  margin: 13px 0 11px 0;
}
.header_user_info ul.links li a {
  margin: 0 15px;
}
.header_user_info.popup-over .popup-title:after {
  display: none;
}
